{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
   <h1 style="color: navy;">Welcome to <u>BAM's AI Picture Book</u></h1>
   <div class="img_container">
        <img src="/static/open_ai.png" alt="Open AI Logo", width = "450", height = "275">
   </div>
   <!-- PUT OUR DESCRIPTION HERE -->
   <div class="page">When you register for our site, you will be able to write or paste a short story into our site's input box! Our site will take chunks of several sentences from your text, inputting them into ChatGPT via an API. The AI will then convert your these blocks into a one-sentence block, which will be inputted into the DALL·E, which will use the generated prompts to generate images about your story! We hope you enjoy our site!</div>
{% endblock %}