<!-- This is where users log into their accound-->
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- Login utilizes post method-->
    <form action="/login" method="post">
        <!-- Fill out username & Password. Layout here is bootstrap-->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <!-- This is the submit button-->
        <button class="btn" type="submit">Log In</button>
    </form>
{% endblock %}