nav .navbar-brand
{
    font-size: xx-large;
    color: crimson;
}
navbar
{
    color: crimson;
}
.btn
{
    background-color: lavender;
    border-radius: 20 px;
}
.btn:hover
{
    background-color: chartreuse;
}
div
{
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;

}
#story
{
    width: 300px;
    height: 600px;
}