.navbar-brand{
    font-size: xx-large;
    color: navy;
    font-weight: bold;
    font-family: cursive;
}

.btn{
    color: gainsboro;
    background-color: navy;
}

.btn:hover{
    color: darkgoldenrod;
    background-color: lavender;
}

.page{
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.img_container img { 
    padding: 20px; 
}

.padded-image{
    padding-right: 20px;
}

.loading img{
    width: 50%;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
}

tbody tr:nth-of-type(odd) {
    background-color: rgba(100, 208, 255, 0.221)
}

#info{
    font-size: x-small;
    color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px;
}

#story_blocks{
    font-family: cursive; 
    width: 512px; 
    height: 512 px; 
    overflow: scroll;
}