.navbar-brand
{
    font-size: xx-large;
    color: crimson;
    font-weight: bold;
}
.btn
{
    text-decoration-color: gainsboro;
    background-color: navy;
}
.btn:hover
{
    text-decoration-color: darkgoldenrod;
    background-color: lavender;
}
.page
{
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
#input
{
    width: 300px;
    height: 600px;
}
.img_container img 
{
    width: 100px; 
    height: 100px; 
    padding: 20px; 
}
.padded-image
{
    padding-right: 20px;
}
.loading img
{
    display: none;
}
#progress-container
{
    width: 100%;
    background-color: lightgrey;
}
#progress-bar
{
    width: 0%;
    height: 30px;
    background-color: chartreuse;

}