.navbar-brand
{
    font-size: xx-large;
    color: crimson;
    font-weight: bold;
}
.btn
{
    text-decoration-color: gainsboro;
    background-color: navy;
}
.btn:hover
{
    text-decoration-color: darkgoldenrod;
    background-color: chartreuse;
}
.page
{
    margin-bottom: 20px;
    line-height: 1.5;
    font-family: 'Times New Roman', Times, serif;

}
#story
{
    width: 300px;
    height: 600px;
}
.img_container img 
{
    width: 200px; 
    height: 200px; 
    padding: 20px; 
}